.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 30, 0);
}

.title {
  margin: 0;
  font-size: 100px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-right: 80px;
}

.titleword {
  font-family: "fraunces";
  font-style: italic;
  display: inline-block;
  width: 420px; /* Adjust this width based on the longest word */
}
