.container4 {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "NeneMetanaBold";
  color: rgb(255, 30, 0);
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
}

br {
  margin-bottom: 15px;
  display: block;
  content: "";
}

.para4 {
  font-family: "montserrat";
  font-size: 18px;
  margin-bottom: 15px; /* Add margin between paragraphs */
  margin-top: 0;
  color: rgb(0, 0, 0);
}

img {
  align-items: flex-end;
  max-width: 230px;
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 0;
}

.textCard2Container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0;
  line-height: 1.6;
  box-sizing: border-box;
  padding-bottom: 50px;
}

.horizontalLine {
  width: 100%;
  height: 2px; /* Line thickness */
  background-color: black; /* Line colour */
  margin-top: 30px; /* Adjust top margin for line spacing */
  margin-bottom: 30px; /* Add some space below the line */
}

.bottomTitle {
  margin-top: 50px;
  font-family: "fraunces";
  color: rgb(255, 30, 0);
  font-style: italic;
  font-size: 22px;
  margin-bottom: 20px;
}

.bottomText {
  margin-top: 50px;
  font-family: "fraunces";
  color: rgb(255, 30, 0);
  font-style: italic;
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}
